*.bat
*.json
cards_*/
tmpFile.root
*.pyc
arguments*.txt
condor_job*.jdl
*.pdf
*.png
.__afs*
output/
run_script*.sh
*.C
*.root
commands*.log
*.so
*.d
*.out
*.in
*_mainC
*_linkdef.h
*.o
*.cxx
*.pcm

# ignore for github pages docs
docs/_build/
*.rst
build/
